.crawling-wrapper {
}
.direction {
}

.nav-item-card {
}

#nav-item a {
  text-align: center;
  font-size: 5px;
  color: #df7861;
  background-color: #FFEEEA;
}

#nav-item a.active {
  background-color: #DF7861;
  color: #FFFFFF;

}

.text-wrapper{
  height: 250px;
  text-align: center;
  background-color: #FFEEEA;
}

.title{
  font-size: 25px;
  padding-top: 40px;
}
.subtitle{

}
.add-button{
  width:100%;
  background-color: #FFEEEA;
  color: #DF7861;
  border-radius: 9px;
  margin-bottom: 10px;
}

.add-button :hover{
  background-color: #DF7861;
  color: #ffffff;

}

#category-wrapper div{
  display: flex;
  justify-items: center;
}

#category-wrapper .nav-item-card{
}
#category-wrapper div div{
}

#category-wrapper a{
  margin: 3px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background-color: #FFEEEA;
  color: #DF7861;

}

#category-wrapper a.active{
  margin: 3px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background-color: #DF7861;
  color: #ffffff;
}
