#crawl-card-wrapper > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  #crawl-card-wrapper > div {
    grid-template-columns: 1fr;
  }
}


#nav-item #nav-link{
  text-align: center;
  font-size: 14px;
  color: #df7861;
  background-color: #ffeeea;
  text-decoration: none;
  transition: .4s;
}


#nav-item a#nav-link:hover{
  background-color: #df7861;
  text-decoration: none;
  color: #ffffff;
}

#nav-item a#nav-link.active {
  text-decoration: none;
  background-color: #df7861;
  color: #ffffff;
}


.title {
  font-size: 25px;
  padding-top: 40px;
}

.add-button {
  width: 100%;
  background-color: #ffeeea;
  color: #df7861;
  border-radius: 9px;
}

.add-button :hover {
  background-color: #fff;
  color: #ffffff;
}

#category-wrapper div {
  display: flex;
  justify-items: center;
}

.redo-image{
}

#category-wrapper a {
  margin: 3px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background-color: #ffeeea;
  color: #df7861;
}

#category-wrapper a.active {
  margin: 3px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background-color: #df7861;
  color: #ffffff;
}

#AddLinkImage{
  width: 100%;
  height: 60px;
}

.redo-button{
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: 0;
}

.redo-button :hover{
  outline: 0;
  background-color: #ffeeea;
}