#Top-header {
  display: flex;
  justify-content: space-between;
}

#left-header-section {
  width: 300px;
}

#LogoImage {
  width: 50px;
  height: 67px;
  margin-right: 16px;
}

#left-header-section #Logo {
  color: #000;
  display: inline-block;
  font-family: HangeulNuri-Bold;
  font-size: 30px;
  font-weight: 500;
}

#NavBarWrapper {
  width: 100%;
  height: 50px;
}

#NavBarWrapper ul {
  box-shadow: inset 0px -4px rgba(0, 0, 0, 0.3);
  background-color: #da6950;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

#NavBarWrapper ul li {
  height: 100%;
  line-height: 48px;
  float: left;
  vertical-align: middle;
  margin: 0px 0px 0px 20px;
}

#nav-bar-ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#nav-bar-ul a.nav-item {
  cursor: pointer;
  color: lightpink;
  padding: 5px;
  text-decoration: none;
  border-bottom: 0px solid white;
  
}

#nav-bar-ul a.nav-item.active {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
  border-bottom: 2px solid white;
}

#nav-bar-ul a.nav-item:hover {
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}

#jumbotron-section {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ffeeea;
}
#jumbotron-sentence {
  margin-top: 163px;
  flex: 1;
  font-size: 30px;
  font-weight: 600;
}
#jumbotron-section svg {
  flex: 2;
  margin-top: 35px;
  margin-right: 24px;
  height: 400px;
}

@media (max-width: 512px) {
  #jumbotron {
    display: none;
  }
  #jumbotron-sentence {
    transition: 1s;
    font-size: 23px;
    line-height: 100px;
    height: 100px;
    margin-top: 0px;
    text-align: center;
  }
}
