<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REGISTER</title>
  </head>
  <body>
    <h1><%=user_data.user_nickname%></h1>
    <h1><%=user_data.user_password%></h1>
</html>
